/* Global variables */
:root {

--background-light: #EEEEEE;
--background-light-dim: #CCCCCC;

--background-dark: #333333;
--background-dark-dim: #111111;

--accent-1: #a0a0ff;
--accent-1-dim: #7c7cff;

--font-size-1: 1.3em; 

}


body {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.flexcol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
}

.bordered-element {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


button {
    background-color: var(--background-dark-dim);
    border: none;
    padding: 18px;
    color:  #fff;
    font-size: 1.5em;
    border-radius: 10px;
}

button:hover {
    background-color: #555555;
}


#submit {
    margin-top: 15px;
}




/* Stacks a label ontop of an input textbox */
.label-input-combo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

label {
    font-size: --font-size-1;
}

input {
    border: 1px solid black;
    padding: 10px;
    font-size: --font-size-1;
}



/* Navbar css */
nav {

    width: 100vw;
    gap: 1em;
    padding: 10px;
    background-color: var(--accent-1-dim);
    border-radius: 2px;

}

nav > a {

    font-size: --font-size-1;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: var(--accent-1-dim);
    border-radius: 4px;

}

nav > a:hover {

    background-color: var(--accent-1);

}