.manager-body {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-light);


}




.settings{
    
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        background-color: var(--background-light-dim);
        border: 1px solid var(--background-dark);
    
        font-size: 1em;
        padding: 0px;
        margin: 0px;
        
        padding-left: 30px;
    
}


.centered-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


td > button {

    font-size: 1.1em;
    padding: 10px;
    width: 100%;

}

th {

    min-width: 200px;

}